@import '../../helpers/Style';

.dash-nav{
    background-color: $main-color;
    border-radius: 25px 10px;
    height: auto;
    margin-bottom: 20px;
    height: 113px;
    h5{
        font: {
            family:"Poppins", sans-serif;
            size:12px;
            weight:400;
        }
        padding: 7px;
        margin:0 20px;
    }
    h3{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button{
            font-size: 20px;
            border: 0;
            padding: 4px 10px;
            border-radius: 25px 10px;
            background-color: #fff;
            color: $main-color;
        }
    }
}